﻿@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Search", "Home", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filter <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Title</a></li>
                                    <li><a href="#">Publisher</a></li>
                                    <li><a href="#">Author</a></li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="searchInput">
                        <div class="input-group-btn">
                            <input type="submit" value="SEARCH BOOK LIBRARY" class="btn btn-default" />
                        </div>
                       
                    </div>
            <hr/>
           
        }


        

    </div>
</div>
