﻿@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Public Library</h1>
    <p class="lead"> Search for books you love to read.</p>
</div>

<div class="row">
    <div class="col-md-12">


        <div class="input-group">
            <div class="input-group-btn">
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <input type="text" class="form-control" aria-label="...">

        </div>

    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="media col-lg-5">
                <div class="media-body">
                    <h3 class="media-heading">Long Book Title</h3>
                    <span class="pull-left">Book Publisher</span>
                    <span class="pull-right">Authors ,Authors</span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="media col-lg-5">
                <div class="media-body">
                    <h3 class="media-heading">Long Book Title</h3>
                    <span class="pull-left">Book Publisher</span>
                    <span class="pull-right">Authors ,Authors</span>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="media col-lg-5">
                <div class="media-body">
                    <h3 class="media-heading">Long Book Title</h3>
                    <span class="pull-left">Book Publisher</span>
                    <span class="pull-right">Authors ,Authors</span>
                </div>
            </div>
        </div>
        <hr />

    </div>
    <div class="col-lg-4">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>



</div>