

<blockquote class="text-warning">
    <h4>Search Result for <strong>serach variable</strong> </h4>
</blockquote>
<hr/>

<div class="row">
    <div class="media col-lg-5">
        <div class="media-body">
            <h3 class="media-heading">Long Book Title</h3>
            <span class="pull-left">Book Publisher</span>
            <span class="pull-right">Authors ,Authors</span>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="media col-lg-5">
        <div class="media-body">
            <h3 class="media-heading">Long Book Title</h3>
            <span class="pull-left">Book Publisher</span>
            <span class="pull-right">Authors ,Authors</span>
        </div>
    </div>
</div>
<hr />